[Unit]
Description=Polybot Telegram Service
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/TelegramPhotoBot
ExecStart=/bin/bash /home/ubuntu/TelegramPhotoBot/polybot/start_polybot.sh $(cat /home/ubuntu/TelegramPhotoBot/polybot/.env | grep TELEGRAM_BOT_TOKEN | cut -d '=' -f2) $(cat /home/ubuntu/TelegramPhotoBot/polybot/.env | grep YOLO_URL | cut -d '=' -f2)
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1
Environment=PATH=/home/ubuntu/TelegramPhotoBot/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
